<%= f.InputTag("Name") %>
<%= f.InputTag("Email") %>
<%= f.InputTag("Icon") %>
<div class="form-group">
	<label>Status</label>
	<div class="widget-group">
		<div class="form-check form-check-inline abc-radio abc-radio-info">
			<input class="form-check-input" type="radio"
				name="IsActive" id="memActiveT"<%=
				if (member.IsActive) { %> checked<% } %> value="true">
				<label class="form-check-label" for="memActiveT">Active</label>
		</div>
		<div class="form-check form-check-inline abc-radio abc-radio-info">
			<input class="form-check-input" type="radio"
				name="IsActive" id="memActiveF"<%=
				if (!member.IsActive) { %> checked<% } %> value="false">
				<label class="form-check-label" for="memActiveF">Locked</label>
		</div>
	</div>
</div>
<%= f.TextArea("Note", {rows: 5}) %>
