/vendor/
**/*.log
**/*.sqlite
.idea/
/bin/
/tmp/
/node_modules/
.sass-cache/
*-packr.go
/public/assets/
/uart

/migrations/schema.sql
/package-lock.json

/debug
/.vscode/
/examples/**/client
/dev.sh
/references.md

database.yml
/files/*.pem

/c.out
/cover.out
/cover.html
