<div class="hc-card float2">
	<div class="thumb"><i class="fas fa-star"></i></div>
	<div class="title"><% let app = role.App() %>
		<b><%= role.Name %></b>@<%= if (role.Code == "admin") {
			%><a href="<%= appPath({app_id: app.ID}) %>"><%= role.App() %></a><%
			} else {
			%><%= role.App() %><% } %>
		<div class="meta">
			<%= role.Description %>
		</div>
	</div>
	<div class="extra">
		<div class="btn-group btn-group-sm">
			<a class="btn btn-warning<%=
				if ((app.Code == "uart") || (role.Code == "admin")) { %> disabled<%
				} %>" href="<%= requestsRoleRetirePath({ role_id: role.ID })
				%>" data-confirm="<%=t("are.you.sure")%>"><%=t("revoke")%></a>
		</div>
	</div>
</div>
