<div class="wg line">
	<div class="wg thumb">
		<i class="fa fa-star<%= if (!is_active) { %>-o<% } %>"></i>
	</div>
	<div class="wg title">
		<% let app = role.App() %>
		<b><%= role.Name %></b>
		<span class="wg meta">
			<%= role.Description %>
		</span>
	</div>
	<div class="wg extra">
		<p class="btn-group">
		<a class="btn btn-xs btn-warning<%=
			if (((app.Code == "uart") && ((role.Code == "user") || (role.Code == "guest"))) || (role.Code == "admin")) { %> disabled<%
			} %>" href="<%= retirePath({ role_id: role.ID })
			%>" data-confirm="<%=t("are.you.sure")%>"><%=t("revoke")%></a>
		</p>
	</div>
</div>
