<div class="hc-line">
	<div class="thumb"><i class="fa fa-star<%= if (!is_active) {
		%>-o<% } %>"></i></div>
	<div class="title"><% let app = role.App() %>
		<b><%= role.Name %></b>
		<span class="meta"><%= role.Description %></span>
	</div>
	<div class="extra">
		<div class="btn-group btn-group-sm">
			<a class="btn btn-warning<%=
				if (((app.Code == "uart") &&
						((role.Code == "user") || (role.Code == "guest"))) ||
						(role.Code == "admin")) { %> disabled<%
				} %>" href="<%= requestsRoleRetirePath({ role_id: role.ID })
					%>" data-confirm="<%=t("are.you.sure")%>"><%=t("revoke")%></a>
		</div>
	</div>
</div>
