<div class="row wg phead">
	<div class="col-md-3 col-xs-12 wg ptitle">
		<h1><%=t("edit.role")%></h1>
	</div>
	<div class="col-md-9 col-xs-12 wg pnav">
		<span class="pull-right" data-bs-toggle="popover"
			data-bs-trigger="hover" data-bs-placement="left"
			data-bs-content="<%=t("edit.role.here")
			%>"><i class="fas fa-question-circle"></i></span>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<%= form_for(role, {action: rolesPath(), method: "POST",
		class: "horizontal"}) { %>
	<%= partial("roles/form.html") %>
	<div class="buttons">
		<button class="btn btn-success" role="submit"><%=t("save")%></button>
		<a class="btn btn-warning" href="<%= appPath({app_id: role.AppID })
			%>" data-confirm="<%=t("are.you.sure")%>"><%=t("cancel")%></a>
	</div>
	<% } %>
	</div>
</div>
