<div class="hc-card float2">
	<div class="thumb"><%= imageFor(credential.AvatarURL, "wg icon32") %></div>
	<div class="title"><% let app = credential.App() %>
		<i class="fa fa-id-badge rect"></i>
		<b><%= credential.Name %></b>
		<div class="meta"><%= credential.Email %></div>
	</div>
	<div class="content">
		<%= logoFor(credential.Provider) %> <%= credential.UserID %>
	</div>
	<div class="extra">
		<div class="pull-right"><%= if (!credential.IsAuthorized) { %>
			<i class="fa fa-exclamation"></i> Unauthorized<% } %><%=
			if (credential.IsPrimary) { %>
			<i class="fa fa-certificate"></i> Primary<% } %>
		</div>
		<div class="btn-group btn-group-sm">
			<a class="btn btn-danger disabled" href="#"><%=t("revoke")%></a>
		</div>
	</div>
</div>
