	<div class="card col-md-4">
		<div class="content">
			<%= imageFor(credential.AvatarURL, "ui right floated mini image") %>
			<div class="header">
				<i class="fa fa-id-badge rect"></i> <%= credential.Name %>
			</div>
			<div class="meta"> <%= credential.Email %> </div>
			<div class="description">
				<%= logoFor(credential.Provider) %> <%= credential.UserID %>
			</div>
		</div>
		<div class="extra content">
			<div class="pull-right">
				<%= if (!credential.IsAuthorized) {
					%><i class="fa fa-exclamation"></i> Unauthorized<%
				} %>
				<%= if (credential.IsPrimary) {
					%><i class="fa fa-certificate"></i> Primary<%
				} %>
			</div>
			<a class="ui btn btn-danger disabled"><%=t("revoke")%></a>
		</div>
	</div>
