<div class="wg card float2">
	<div class="wg thumb">
		<%= imageFor(credential.AvatarURL, "wg icon32") %>
	</div>
	<div class="wg title">
		<% let app = credential.App() %>
		<i class="fa fa-id-badge rect"></i>
		<b><%= credential.Name %></b>
		<div class="wg meta">
			<%= credential.Email %>
		</div>
	</div>
	<div class="wg content">
		<%= logoFor(credential.Provider) %> <%= credential.UserID %>
	</div>
	<div class="wg extra">
		<div class="pull-right">
			<%= if (!credential.IsAuthorized) {
				%><i class="fa fa-exclamation"></i> Unauthorized<%
			} %>
			<%= if (credential.IsPrimary) {
				%><i class="fa fa-certificate"></i> Primary<%
			} %>
		</div>
		<p class="btn-group">
			<a class="btn btn-xs btn-danger disabled"><%=t("revoke")%></a>
		</p>
	</div>
</div>


