<div class="row wg phead">
	<div class="col-md-3 col-xs-12 wg ptitle">
		<h1><%=t("credentials")%></h1>
	</div>
	<div class="col-md-9 col-xs-12 wg pnav">
		<span class="pull-right" data-toggle="popover" data-trigger="hover"
			data-placement="left" data-content="<%=t("all.registered.credentials")
			%>"><i class="fa fa-question-circle"></i></span>
	</div>
</div>

<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th><%=t("credential")%></th>
			<th><%=t("owner")%></th>
			<th><%=t("name")%></th>
			<th><%=t("email")%></th>
			<th><%=t("status")%></th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<%= for (cred) in credentials { %><tr class="clickable">
			<td><%= imageFor(cred.AvatarURL, "wg icon24") %></td>
			<td><%= cred %></td>
			<td><a id="link" href="<%= membershipPath({ member_id: cred.OwnerID() })
					%>"><%= cred.Owner() %></td>
			<td><%= cred.Name %></a></td>
			<td><%= cred.Email %></td>
			<td><%= if (cred.IsAuthorized) { %>Authorized<% } %></td>
			<td class="unclickable">
				<div class="pull-right btn-group">
					<a class="btn btn-xs btn-warning" href="<%=
						editCredentialPath({ credential_id: cred.ID }) %>"><%=t("edit")%></a>
					<a class="btn btn-xs btn-danger" href="<%=
						credentialPath({ credential_id: cred.ID }) %>"
						data-method="DELETE" data-confirm="<%=t("are.you.sure")
						%>"><%=t("delete")%></a>
				</div>
			</td>
		</tr><% } %>
	</tbody>
</table>

<%= paginate(searchParams) %>
