<div class="row wg phead">
	<div class="col-md-3 col-xs-12 wg ptitle">
		<h1><%=t("messengers")%></h1>
	</div>
	<div class="col-md-9 col-xs-12 wg pnav">
		<span class="pull-right" data-toggle="popover" data-trigger="hover"
			data-placement="left" data-content="<%=t("all.registered.messengers")
			%>"><i class="fa fa-question-circle"></i></span>
	</div>
</div>

<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th><%=t("member")%></th>
			<th><%=t("priority")%></th>
			<th><%=t("method")%></th>
			<th><%=t("value")%></th>
			<th><%=t("created.at")%></th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<%= for (messenger) in messengers { %><tr>
			<td><%= messenger.MemberID %></td>
			<td><%= messenger.Priority %></td>
			<td><%= messenger.Method %></td>
			<td><%= messenger.Value %></td>
			<td><%= timeYYMD(messenger.CreatedAt) %></td>
			<td>
				<div class="pull-right btn-group">
					<a class="btn btn-xs btn-danger" href="<%=
						messengerPath({ messenger_id: messenger.ID }) %>"
						data-method="DELETE" data-confirm="<%=t("are.you.sure")
						%>"><%=t("delete")%></a>
				</div>
			</td>
		</tr><% } %>
	</tbody>
</table>

<div class="text-center">
	<%= paginator(pagination) %>
</div>
