//* css for hyeoncheon project rebooted.
//*

@use "sass:math";

@import url('//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

$font-base: 'Open Sans','Noto Sans KR','Helvetica Neue',sans-serif;
$font-head: 'Open Sans','NanumSquare','Helvetica Neue',sans-serif;
$font-type: Monaco, "Ubuntu Mono", "Courier New", monospace !important;

$font-size: 16px;
$nav-height: 40px;
$nav-icon-size: 32px;
$content-padding-default: 15px;

$color-nav: black;
$color-hover: #555;
$color-header: #f4f4f4;
$color-border: #ccc;
$color-gray: #999;
$color-white: white;
$color-danger: #ca0000;


//* mixins
.mixin-strong { font-weight: 600; }
.mixin-green { color: green; }
.mixin-red { color: red; }
.mixin-orange { color: orange; }
.mixin-gray { color: $color-gray; }
.mixin-small { font-size: $font-size - 2px; }
.mixin-danger { color: $color-danger; }


//* layout and basic elements
html, body {
	height: 100%;
	font-family: $font-base;
	font-size: $font-size;
}
body {
	font-size: $font-size !important;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.4rem;
}
h4, h5, h6 {
	font-size: 1rem;
}
table {
	tr.linked td:hover:not(.nolink) {
		cursor: pointer;
	}
}
table.table {
	th, td {
		border-top: 0;
	}
	thead tr th,
	thead tr td,
	tbody tr th,
	tbody tr td,
	tfoot tr td,
	tfoot tr th {
		padding: 2px 6px;
		border-bottom: 1px solid lighten($color-border, 5%);
		font-weight: normal;
	}
}

.navbar {
	box-shadow: 0 2px 2px rgba(100,100,100, 0.5);
}
.lay-outter-container {
	width: 100%;
	height: 100%;
	display: table;
	margin: -40px 0 0;
	padding: 40px 0 60px;
	.lay-inner-container {
		height: 100%;
		.content {
			.page-header {
				background-color: $color-header;
				padding-top: 0.3rem;
				border-bottom: 1px solid $color-border;
				.page-icon {
					img {
						margin-left: -10px;
						padding-right: 10px;
						float: left;
					}
				}
				.description {
					color: $color-gray;
					padding-bottom: 0.2rem;
					min-height: 1.5em;
				}
			}
			.page-content {
				.pagination {
					display: inline-flex;
				}
			}
			.page-footer {
				color: $color-gray;
			}
		}
	}
}
.lay-footer {
	margin-top: -60px;
	color: $color-gray;
	font-size: 0.9em;
}

//* main layout/page paddings
.lay-inner-container .page-header,
.lay-footer div {
	padding: 0 $content-padding-default 0 $content-padding-default;
}
.lay-inner-container .page-content {
	padding: $content-padding-default;
	padding-top: $content-padding-default;
	padding-bottom: 30px;
}


//* hyeoncheon custom widgets
.hc-img-profile {
	height: $nav-icon-size;
	width: $nav-icon-size;
	border-radius: math.div($nav-icon-size, 3);
}

.overlay-flash {
	position: fixed;
	right: 25px;
	top: 55px;
	width: 600px;
	z-index: 999;
	opacity: 0.95;
	.alert {
		position: relative;
		margin-bottom: 10px;
		clear: both;
		float: right;
		box-shadow: 2px 2px 2px rgba(100,100,100, 0.5);
		border-width: 0 0 0 3px;
		border-radius: 0;
		border-style: solid;
		.btn-close {
			margin-left: 10px;
		}
	}
}

.hc-box {
	margin-bottom: 30px;
}

.hc-doc {
	.hc-doc-path {
		.breadcrumb {
			padding: 0.1rem 0.5rem;
			a {
				color: inherit !important;
			}
		}
	}
	.hc-doc-title {
	}
	.hc-doc-meta {
		color: $color-gray;
		font-size: $font-size - 2px;
	}
	.hc-doc-subdocs {
		margin: 1rem 0;
		padding: 0 0;
		border-left: 4px solid $color-gray;
	}
	.hc-doc-content {
	}
}
.hc-docs {
	ul {
		margin: 0;
		list-style: none;
		a:not(.btn) {
			color: inherit !important;
		}
	}
}

.hc-message-box {
	border-left: 4px solid black;
	padding: 1rem 2rem;
	margin: 1rem 0;
	&.hc-message-box-danger {
		border-left-color: $color-danger;
	}
}

.hc-quote {
	margin: 5px 0;
	border-left: 4px solid #bbb;
	padding: 0 1rem;
}

.hc-card {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 8px;
	margin: 2px;
	.thumb {
		float: right;
		margin: 0 0 5px 5px;
	}
	.frame {
		text-align: center;
		margin-bottom: 10px;
	}
	.title {
		h3, h4, h5 {
			margin: 0px;
		}
		.meta {
			white-space: nowrap;
			overflow: hidden;
			p {
				white-space: normal;
			}
		}
		.meta,
		.meta > a {
			color: #888;
			font-size: 0.8em;
		}
	}
	.content {
		margin-top: 2px;
		font-size: 0.95em;
		&.indented {
			padding-left: 20px;
		}
	}
	& > .extra {
		clear: both;
		color: #888;
		font-size: 0.8em;
		border-top: 1px solid #eee;
		padding-top: 5px;
		margin-top: 4px;
		display: table;
		width: 100%;
	}
	&.float2 {
		float: left;
		width: 48%;
		margin: 2px;
	}
	&.shadow {
		box-shadow: 1px 1px 4px rgba(64,64,64, 0.2) !important;
	}
}

.hc-line {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 3px 6px;
	display: table;
	width: 100%;
	.thumb {
		float: left;
		margin: 0 5px 0 0;
	}
	.title {
		float: left;
	}
	.extra {
		float: right;
		.btn {
			line-height: 1.1;
		}
	}
}

.wg.icon {
	&24 {
		height: 24px;
	}
	&32 {
		height: 32px;
	}
	&64 {
		height: 64px;
	}
	&128 {
		height: 128px;
	}
	&.rounded {
		border-radius: 16px;
	}
}

//* override default styles of bootstrap
.navbar {
	background-color: $color-nav !important;
	padding: 0 0.5rem;
	* {
		line-height: 1em;
	}
	.navbar-brand {
		padding: math.div(($nav-height - $font-size * 1.25), 2) 0;
		img {
			width: $nav-height - 8px;
			height: $nav-height - 8px;
			margin: -14px 8px -10px -4px;
		}
	}
	.nav-link {
		padding: 0;
	}
	.nav-item {
		padding: math.div(($nav-height - $font-size - 2), 2) 0.5rem !important;
		&:last-child {
			padding-right: 0 !important;
		}
		img {
			margin: math.div(($font-size - $nav-icon-size), 2) 0;
		}
		&.hc-badge .fa-empire {
			color: orange;
		}
	}
	.dropdown-item-text,
	.dropdown-item {
		padding: 0.5rem 1.5rem;
		white-space: nowrap;
		i.fa {
			width: 1.5rem;
			margin-left: -0.5rem;
		}
	}
	.dropdown-item {
		&.active {
			color: $color-white;
			background: $color-nav;
		}
		&:hover {
			color: $color-white;
			background: $color-hover;
		}
	}
}

.btn-sm, .btn-group-sm > .btn {
	padding: 0 .4rem;
}

//* bootstrap version compatibility
.pull-right {
	float: right !important;
}

//* workaround for bug of EasyMDEContainer
.EasyMDEContainer .editor-toolbar.fullscreen {
	top: $nav-height;
}
.EasyMDEContainer .CodeMirror-fullscreen {
	top: $nav-height + 50px;
}
.EasyMDEContainer .editor-preview-side {
	top: $nav-height + 50px;
}

//* workaround
form.horizontal {
	.form-group {
		label {
			width: 23%;
			text-align: right;
			vertical-align: top;
		}
		input, textarea, select {
			display: inline-block;
			margin-left: 2%;
			width: 75%;
		}
		div.widget-group {
			display: inline-block;
			margin-left: 2%;
			width: 70%;
		}
		div.help-block,
		span.help-block {
			width: 75%;
			margin: 0 0 0 25%;
		}
	}
	.buttons {
		text-align: right;
		width: 75%;
		margin: 0 0 0 25%;
	}
}
form {
	button.btn-success {
		min-width: 150px;
	}
}
