// standard style for hyeoncheon project.
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|PT+Serif');

// structure and layout
html,
body,
body > .container:not(.page-trailer) {
	height: 100%;
	font-family: "PT Sans", MalgunGothic, NanumGothic;
}
body > .container:not(.page-trailer) {
	display: table;
	margin-top: -60px;
	padding: 100px 15px 15px 15px;
	box-sizing: border-box;
}
.page-tailer {
	position: relative;
	display: flex;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 60px;
	padding-top: 5px;
	background: darken(rgba(128,128,128, 0.1), 5%);
	border: 1px solid darken(rgba(128,128,128, 0.1), 15%);
	border-width: 1px 0 0 0;
	font-size: 0.9em;
	color: lighten(rgba(64,64,64, 0.6), 30%);
	a {
		color: lighten(rgba(64,64,64, 0.6), 30%);
	}
}

@media screen and (max-width: 767px) {
	.container {
		margin: 0 10px;
	}
}

// special widgets ---------------------------------------------------
.wg.icon {
	&24 {
		height: 24px;
	}
	&32 {
		height: 32px;
	}
	&64 {
		height: 64px;
	}
	&128 {
		height: 128px;
	}
	&.rounded {
		border-radius: 16px;
	}
}

.wg.phead {
	margin: 20px 0 15px;
	& > div {
		padding: 0;
		height: 30px;
	}
	.wg.ptitle {
		h1 {
			margin: 0;
			white-space: nowrap;
		}
	}
}

.wg {
	&.underline {
		border-bottom: 1px solid #ccc;
	}
}

.wg.chapter {
	margin-bottom: 20px;
	display: table;
	width: 100%;
	clear: both;
	.wg.head {
		& > span > .btn {
			margin-bottom: 8px;
		}
	}
	.wg.content-box {
		//display: inline-block;
	}
}

.wg.card {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 8px;
	margin: 2px;
	.wg.thumb {
		float: right;
		margin: 0 0 5px 5px;
	}
	.wg.frame {
		text-align: center;
		margin-bottom: 10px;
	}
	.wg.title {
		h3, h4, h5 {
			margin: 0px;
		}
		.wg.meta {
			white-space: nowrap;
			overflow: hidden;
			p {
				white-space: normal;
			}
		}
		.wg.meta,
		.wg.meta > a {
			color: #888;
			font-size: 0.8em;
		}
	}
	.wg.content {
		margin-top: 2px;
		font-size: 0.95em;
		&.indented {
			padding-left: 20px;
		}
	}
	& > .wg.extra {
		clear: both;
		color: #888;
		border-top: 1px solid #eee;
		padding-top: 5px;
		margin-top: 4px;
		display: table;
		width: 100%;
	}
	&.float2 {
		float: left;
		width: 48%;
		margin: 2px;
	}
	&.shadow {
		box-shadow: 1px 1px 2px rgba(128,128,128, 0.2);
	}
}

.wg.line {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 3px 6px;
	display: table;
	width: 100%;
	.wg.thumb {
		float: left;
		margin: 0 5px 0 0;
	}
	.wg.title {
		float: left;
	}
	.wg.extra {
		float: right;
		.btn {
			line-height: 1.1;
		}
	}
}

@media (max-width: 767px) {
	.wg.card.float2 {
		width: 200px;
		margin: 2px;
	}
}
@media (min-width: 768px) { // container effective 720px
	.wg.card.float2 {
		width: 236px;
		margin: 2px;
	}
}
@media (min-width: 992px) { // container effective 940px
	.wg.card.float2 {
		width: 184px;
		margin: 2px;
	}
}
@media (min-width: 1200px) { // container effective 1140px
	.wg.card.float2 {
		width: 224px;
		margin: 2px;
	}
}

.overlay-flash {
	position: fixed;
	right: 25px;
	top: 55px;
	width: 600px;
	z-index: 999;
	opacity: 0.95;
	.alert {
		margin-bottom: 10px;
		padding: 10px 15px;
		display: inline-block;
		clear: both;
		float: right;
		right: 25px;
		box-shadow: 2px 2px 2px rgba(100,100,100, 0.5);
		border-width: 0 0 0 3px;
		border-radius: 0;
		.close {
			margin-left: 10px;
		}
	}
}

// override bootstrap styles -----------------------------------------
.navbar {
	.navbar-header {
		.navbar-brand.navbar-logo {
			.wg.icon {
				&32 {
					margin: -6px;
				}
				&24 {
					margin: -2px;
				}
			}
		}
	}
	.navbar-nav {
		.wg.icon {
			&32 {
				margin: 4px;
			}
			&24 {
				margin: 8px;
			}
		}
		.dropdown-menu {
			padding: 0;
			li > span,
			li > a {
				display: block;
				padding: 3px 10px 3px 3px;
				white-space: nowrap;
				i.fa {
					padding: 5px 5px 5px 0;
					text-align: center;
					width: 2em;
				}
			}
			li.divider {
				margin: 0;
			}
		}
	}
}

form.horizontal {
	.form-group {
		label {
			width: 23%;
			text-align: right;
		}
		input {
			display: inline-block;
			margin-left: 2%;
			width: 75%;
		}
		span.help-block {
			width: 75%;
			margin: 0 0 0 25%;
		}
	}
	.buttons {
		width: 75%;
		margin: 0 0 0 25%;
	}
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	vertical-align: middle !important;
}

.fa.rect {
	width: 1em;
}

// port from semantic-ui
p:last-child {
  margin-bottom: 0;
}

// override default styles
