<div class="page-header col-12">
	<h1><%= t("messaging.logs") %></h1>
	<div class="pull-right">
		<span data-toggle="popover" data-trigger="hover" data-placement="left"
			data-content="<%= t("all.processed.messagings")
			%>"><i class="fas fa-question-circle"></i></span>
	</div>
	<div class="description"><%= t("credentials.header.description") %></div>
</div>

<div class="page-content col-12">
	<table class="table table-striped table-condensed table-hover"><thead>
		<tr>
			<th><%= t("date") %></th>
			<th><%= t("subject") %></th>
			<th><%= t("sent.for") %></th>
			<th><%= t("status") %></th>
			<th>&nbsp;</th>
		</tr>
	</thead><tbody><%= for (messagingLog) in messagingLogs { %>
		<tr>
			<td class="moment"><%= messagingLog.CreatedAt %></td>
			<td><span data-toggle="tooltip" data-placement="top" title="<%=
				messagingLog.Notes %>"><%= messagingLog.Subject %></span></td>
			<td><span data-toggle="tooltip" data-placement="top" title="<%=
				messagingLog.Method %> to <%= messagingLog.SentTo %>"><%=
				messagingLog.SentFor %></span></td>
			<td><span data-toggle="tooltip" data-placement="top" title="<%=
				messagingLog.QueueID %>/<%= messagingLog.Response %>"><%=
				humanize(messagingLog.Status) %></span></td>
			<td>
				<div class="pull-right btn-group btn-group-sm">
					<a class="btn btn-xs btn-danger" href="<%=
						messagingLogPath({ messaging_log_id: messagingLog.ID })
						%>" data-method="DELETE" data-confirm="<%=t("are.you.sure")
						%>"><%=t("delete")%></a><% } %>
				</div>
			</td>
		</tr><% } %>
	</tbody></table>

	<div class="text-center">
<%= paginator(pagination) %>
	</div>

</div>

<div class="page-footer col-12">
</div>
