<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= brand_name %></title>
	<%= stylesheetTag("application.css") %>
	<link rel="stylesheet" href="/assets/themes/<%=
		theme %>/t.css" type="text/css" media="all" />
	<link rel="shortcut icon" href="/assets/images/hyeoncheon-icon.png">
	<meta name="csrf-param" content="authenticity_token" />
	<meta name="csrf-token" content="<%= authenticity_token %>" />
	<%= javascriptTag("application.js") %>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
		<a class="navbar-brand" href="/">
			<img src="<%= assetPath("images/hyeoncheon-icon.png") %>"
				class="d-inline-block" alt="">
			<%= brand_name %></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="main-navbar-collapse">
			<div class="navbar-nav mr-auto flex-grow-1"><%=
			if ((member_is_admin) || (role_appman)) { %>
				<a class="nav-item nav-link" href="<%= appsPath() %>"><%=
					t("apps") %></a><% } %><%=
			if ((member_is_admin) || (role_userman)) { %>
				<a class="nav-item nav-link" href="<%= membersPath() %>"><%=
					t("members") %></a><% } %><%=
			if ((member_is_admin) || (role_user)) { %>
				<a class="nav-item nav-link" href="<%= messagesPath() %>"><%=
					t("messages") %></a>
				<a class="nav-item nav-link" href="<%= docsPath() %>"><%=
					t("docs") %></a><% } %><%= if (member_is_admin) { %>
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarAdmin"
						role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><%= t("admin") %></a>
					<div class="dropdown-menu" aria-labelledby="navbarAdmin">
						<a class="dropdown-item" href="<%= credentialsPath()
							%>"><i aria-hidden="true" class="fa fa-id-badge"></i> <%=
							t("credentials") %></a>
						<a class="dropdown-item" href="<%= messengersPath()
							%>"><i aria-hidden="true" class="fa fa-podcast"></i> <%=
							t("messengers") %></a>
						<a class="dropdown-item" href="<%= messagingLogsPath()
							%>"><i aria-hidden="true" class="fa fa-file-text-o"></i> <%=
							t("messagings") %></a>
						<div class="dropdown-divider"></div>
					</div>
				</div><% } %>
			</div>
			<div class="navbar-nav mr-auto" id="member-menu"><%=
				if (member_id) { %><%= if (0 != len(member_roles)) { %>
				<span class="nav-item hc-badge"><%=
					iconize(member_roles[0]) %></span><% } %>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle"
						data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">
						<img src="<%= member_icon %>" class="hc-img-profile img-circle">
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<span class="dropdown-item-text"><i aria-hidden="true"
							class="fa fa-id-card"></i> <%= member_name %></span>
						<span class="dropdown-item-text"><i aria-hidden="true"
							class="fa"></i> <%= member_mail %></span>
						<span class="dropdown-item-text"><i aria-hidden="true"
							class="fa fa-star-o"></i> <%= member_roles %></span>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%= membershipMePath()
							%>"><i aria-hidden="true" class="fa fa-address-card"></i> <%=
							t("membership") %></a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%= logoutPath()
							%>"><i aria-hidden="true" class="fa fa-sign-out"></i> <%=
							t("logout") %></a>
					</div>
				</div><% } else { %>
				<a class="nav-item nav-link" href="<%= loginPath()
					%>"><%= t("login") %></a>
			<% } %></div>
		</div>
	</nav>

	  <!-- ---- layout: side-bar and content -->
  <div class="lay-outter-container">
    <div class="lay-inner-container">
      <div class="content">
<%= partial("flash.html") %>
<%= yield %>
      </div>
    </div>
	</div>
	<div class="lay-footer">
		<div class="col-12 text-right">
			UART, the Hyeoncheon Project Member<br>
			Golang, Buffalo, and many FOSSes under the hood<br>
		</div>
	</div>
</body>
</html>
