<div class="page-header col-12">
	<div class="page-icon"></div>
	<h1><%=t("edit")%> <%= app.Name %></h1>
	<div class="pull-right">
		<span data-bs-toggle="popover"
			data-bs-trigger="hover" data-bs-placement="left"
			data-bs-content="<%=t("app.edit.popup") %>">
			<i class="fas fa-question-circle"></i>
		</span>
	</div>
	<div class="description">
		<%= app.Description %>,
		<%= t("since") %> <span class="moment"><%= app.CreatedAt %></span>
		<%= app.GrantsCount() %> <%= t("users") %>
	</div>
</div>

<div class="page-content col-12 uart-app">
	<div class="row">
		<div class="col-lg-8 offset-lg-2">
			<%= form_for(app, {action: appPath({ app_id: app.ID }),
				method: "PUT", class: "horizontal"}) { %>
<%= partial("apps/form.html") %>
			<div class="buttons">
				<a class="btn btn-warning" href="<%= appsPath()
					%>" data-confirm="<%= t("are.you.sure") %>"><%= t("cancel") %></a>
				<button class="btn btn-success" role="submit"><%= t("save") %></button>
			</div>
			<% } %>
		</div>
	</div>
</div>
