<div class="page-header col-12">
	<h1><%=t("all.applications")%></h1>
	<div class="pull-right">
		<span data-toggle="popover" data-trigger="hover" data-placement="left"
			data-content="<%=t("all.registered.apps") %>">
			<i class="fas fa-question-circle"></i>
		</span>
	</div>
	<div class="description"><%= t("apps.header.description") %></div>
</div>

<div class="page-content col-12 hc-docs">
	<div class="pull-right">
		<a class="btn btn-sm btn-primary" href="<%= newAppsPath() %>"><%=
			t("new.app") %></a>
	</div>

	<table class="table table-striped table-condensed table-hover"><thead>
		<tr>
			<th>&nbsp;</th>
			<th><%=t("name")%></th>
			<th><%=t("description")%></th>
			<th><%=t("site.url")%></th>
			<th><%=t("members")%></th>
			<th><%=t("requests")%></th>
			<th><%=t("since")%></th>
			<th>&nbsp;</th>
		</tr>
	</thead><tbody><%= for (app) in apps { %>
		<tr class="linked" target="<%= appPath({ app_id: app.ID }) %>">
			<td><%= imageFor(app.AppIcon, "wg icon24") %></td>
			<td><%= app.Name %></td>
			<td><%= app.Description %></td>
			<td><%= app.SiteURL %></td>
			<td><%= app.GrantsCount() %></td>
			<td><%= app.RequestsCount() %></td>
			<td class="moment" form="YYYY-MM-DD"><%= app.CreatedAt %></td>
			<td class="nolink">
				<div class="pull-right btn-group btn-group-sm">
					<a class="btn btn-xs btn-secondary<%= if (app.Code == "uart") {
						%> disabled<% } %>" href="<%=
						editAppPath({ app_id: app.ID }) %>"><%=t("edit")%></a>
					<a class="btn btn-xs btn-danger<%= if (app.Code == "uart") {
						%> disabled<% } %>" href="<%=
						appPath({ app_id: app.ID }) %>"
						data-method="DELETE" data-confirm="<%=t("are.you.sure")
						%>"><%=t("delete")%></a>
				</div>
			</td>
		</tr><% } %>
	</tbody></table>

	<div class="text-center">
<%= paginator(pagination) %>
	</div>

</div> <!-- end of page-content -->

<div class="page-footer col-12">
</div>
