<div class="page-header col-12">
	<h1><%= t("messages") %></h1>
	<div class="pull-right">
		<span data-toggle="popover" data-trigger="hover" data-placement="left"
			data-content="<%= t("messages.all.popup") %>">
			<i class="fas fa-question-circle"></i>
		</span>
	</div>
	<div class="description"><%= t("messages.header.description") %></div>
</div>

<div class="page-content col-12">
	<table class="table table-striped table-condensed table-hover"><thead>
		<tr>
			<th><%= t("date") %></th>
			<th>&nbsp;</th>
			<th><%= t("subject") %></th>
			<th><%= t("sender") %></th>
			<th><%= t("app") %></th>
			<th><%= t("category") %></th>
			<th>&nbsp;</th>
		</tr>
	</thead><tbody><%= for (message) in messages { %><%
			let map = message.MemberMap(member_id) %>
		<tr class="<%=
			if (!message.IsLog) { %>clickable<% } %><%=
			if (map.IsBCC) { %> text-muted<% } %>">
			<td class="moment norel" form="YYYY-MM-DD HH:mm:ss"><%=
				message.CreatedAt %></td>
			<td><%= if (message.IsLog) {
				%><i class="far fa-sticky-note"></i><% } else { %><%=
					if (map.IsSent) {
					%><i class="far fa-envelope"></i><% } else { %><%=
					%><i class="fas fa-envelope"></i><% } %><%
				} %></td>
			<td><%= if (!message.IsLog) {
				%><a id="link" href="<%= messagePath({ message_id: message.ID })
				%>"><%= message.Subject %></a><% } else {
				%><%= message.Subject %><% } %></td>
			<td><%= message.Owner() %></td>
			<td><%= message.AppName() %></td>
			<td><%= humanize(message.Facility) %>.<%= message.PriorityString() %></td>
			<td class="unclickable">
				<div class="pull-right btn-group btn-group-sm">
					<a class="btn btn-secondary" href="<%=
						messageDismissPath({ message_id: message.ID })
						%>"><%= t("dismiss") %></a>
					<%= if (member_is_admin) {
						%><a class="btn btn-danger" href="<%=
						messagePath({ message_id: message.ID })
						%>" data-method="DELETE" data-confirm="<%= t("are.you.sure")
						%>"><%= t("delete") %></a><% } %>
				</div>
			</td>
		</tr><% } %>
	</tbody></table>

	<div class="text-center">
<%= paginator(pagination) %>
	</div>

</div> <!-- end of page-content -->

<div class="page-footer col-12">
</div>
