<div class="page-header col-12">
	<div class="page-icon"></div>
	<h1><%= t("message") %></h1>
	<div class="pull-right">
		<span data-toggle="popover" data-trigger="hover" data-placement="left"
			data-content="<%= t("message.popup") %>">
			<i class="fas fa-question-circle"></i>
		</span>
	</div>
	<div class="description">
		<%= message.Subject %>
	</div>
</div>

<div class="page-content col-12 uart-app">
	<div class="row">
		<div class="col-lg-3"> <!-- pannel ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		</div>

		<div class="col-lg-9"> <!-- contents ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<div class="btn-group btn-group-sm pull-right">
				<a class="btn btn-dark goback" href="<%= messagesPath()
					%>"><i class="fas fa-arrow-left"></i></a>

				<a class="btn btn-secondary" href="<%=
					messageDismissPath({ message_id: message.ID })
					%>"><%=t("dismiss")%></a><%= if (member_is_admin) { %>
				<a class="btn btn-xs btn-danger" href="<%=
					messagePath({ message_id: message.ID })
					%>" data-method="DELETE" data-confirm="<%=t("are.you.sure")
					%>"><%=t("delete")%></a><% } %>
			</div>

			<div> <!-- message details ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				<h3><%= message.Subject %></h3>
				<table class="table table-striped table-condensed"><tbody>
					<tr><td><%= t("sender") %></td><td><%= message.Owner() %></td></tr>
					<tr><td><%= t("date")
						%></td><td class="moment norel" form="YYYY-MM-DD HH:mm:ss"><%=
						message.CreatedAt %></td></tr>
					<tr><td><%= t("app") %></td><td><%= message.AppName() %></td></tr>
					<tr><td><%= t("category") %></td><td><%= humanize(message.Facility)
						%>.<%= message.PriorityString() %></td></tr>
					<tr><td><%= t("type") %></td><td><%= if (message.IsLog) {
							%>Log<% } else {
							%>Message<% } %></td></tr><%
					let map = message.MemberMap(member_id) %>
					<tr>
						<td><%= t("status") %></td>
						<td><%= if (map.IsSent) { %>Sent<% } else { %>Queued<% } %>, <%=
							if (map.IsRead) { %>Listed<% } else { %>Dissmissed<% } %><%=
							if (map.IsBCC) { %>, BCC<% } %></td>
					</tr>
				</tbody></table>
			</div>
			<div>
				<h5><%= t("content") %></h5>
				<div class="hc-quote"><%= markdown(message.Content) %></div>
			</div>

		</div> <!-- end of contents -->
	</div> <!-- end of row -->
</div> <!-- end of page-content -->
